<!-- We need a form here to edit and save the recipe. -->
<!-- Creating a new one is also possible. Maybe provide a flag indicating that we are creating a new one? -->
<!-- Check if object given is null and then automatically lay everything out for creating a new one? -->

<form class="example-form container">
    <div fxLayout.sm="row" fxLayout.xs="row wrap" fxLayoutAlign="space-evenly start">

        <div style="padding: 1em;" fxFlex="auto">
            <mat-form-field class="example-full-width">
                <!-- are all of these values in here really required? -->
                <input matInput placeholder="Recipe title" [(ngModel)]="recipe.title" id="title" name="title" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Recipe image URL" [(ngModel)]="recipe.image" id="image" name="image">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Recipe description" [(ngModel)]="recipe.description"
                    name="description"></textarea>
            </mat-form-field>
        </div>
        <div style="padding: 1em;" fxFlex="auto">
            <button mat-button color="primary" (click)="addIngredient()">
                <mat-icon>add</mat-icon> Add Ingredient
            </button>
            <shopping-grouped-table [dataSource]='dataSource' [displayedColumns]='displayedColumns'>
            </shopping-grouped-table>
        </div>
    </div>

    <button mat-button color="primary" type="submit" (click)="saveRecipe()">
        <mat-icon>save</mat-icon> Save
    </button>

</form>
