<h1 mat-dialog-title>{{data.message}}</h1>
<div mat-dialog-content>
    <p>Produkt-Name</p>
    <mat-form-field>
        <input required (cdkFocusInitial)="!data?.disabledEditFields" [disabled]="data?.disabledEditFields" matInput
            [(ngModel)]="data.recipeItem.name">
    </mat-form-field>
    <!-- TODO: Properly do switch / if-else here? -->
    <div *ngIf="!data.showDefaultQuantityInsteadOfQtd">
        <p>Wie viel davon möchtest du hinzufügen?</p>
        <mat-form-field>
            <input matInput (cdkFocusInitial)="data?.disabledEditFields" type="number"
                [(ngModel)]="data.recipeItem.quantity">
        </mat-form-field>
    </div>
    <div *ngIf="data.showDefaultQuantityInsteadOfQtd">
        <p>Welche Standard-Menge soll der Zutat zugeordnet werden?</p>
        <mat-form-field>
            <input matInput (cdkFocusInitial)="data?.disabledEditFields" type="number"
                [(ngModel)]="data.recipeItem.defaultQuantity">
        </mat-form-field>
    </div>
    <p>Mengen-Einheit</p>
    <mat-form-field>
        <input matInput [disabled]="data?.disabledEditFields" [(ngModel)]="data.recipeItem.unit">
    </mat-form-field>
    <p>Kategorie</p>
    <mat-form-field>
        <input matInput [disabled]="data?.disabledEditFields" [(ngModel)]="data.recipeItem.category">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Abbrechen</button>
    <!-- Add-button with custom-built form-validation on field value lengths -->
    <button mat-button [mat-dialog-close]="data.recipeItem" [disabled]="!isFormValid()">
        <div *ngIf="!data?.disabledEditFields">Hinzufügen</div>
        <div *ngIf="data?.disabledEditFields">Übernehmen</div>
    </button>
</div>
