<h1 mat-dialog-title>{{data.message}}</h1>
<div mat-dialog-content>
    <p>What's the name of the ingredient to add?</p>
    <mat-form-field>
        <input cdkFocusInitial matInput [(ngModel)]="data.recipeItem.name">
    </mat-form-field>
    <!-- TODO: Properly do switch / if-else here? -->
    <p *ngIf="!data.showDefaultQUantityInsteadOfQtd">How much of it would you like to add?</p>
    <p *ngIf="data.showDefaultQUantityInsteadOfQtd">What should the default quantity be?</p>
    <mat-form-field>
        <input *ngIf="!data.showDefaultQUantityInsteadOfQtd" matInput type="number"
            [(ngModel)]="data.recipeItem.quantity">
        <input *ngIf="data.showDefaultQUantityInsteadOfQtd" matInput type="number"
            [(ngModel)]="data.recipeItem.defaultQuantity">
    </mat-form-field>
    <p>Unit</p>
    <mat-form-field>
        <input matInput [(ngModel)]="data.recipeItem.unit">
    </mat-form-field>
    <p>Category</p>
    <mat-form-field>
        <input matInput [(ngModel)]="data.recipeItem.category">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data.recipeItem">Add</button>
</div>
