<h1 mat-dialog-title>{{data.message}}</h1>
<div mat-dialog-content>
    <p>Welche Zutat möchtest du hinzufügen?</p>
    <mat-form-field>
        <input cdkFocusInitial matInput [(ngModel)]="data.recipeItem.name">
    </mat-form-field>
    <!-- TODO: Properly do switch / if-else here? -->
    <p *ngIf="!data.showDefaultQuantityInsteadOfQtd">Wie viel davon möchtest du hinzufügen?</p>
    <p *ngIf="data.showDefaultQuantityInsteadOfQtd">Welche Standard-Menge soll der Zutat zugeordnet werden?</p>
    <mat-form-field>
        <input *ngIf="!data.showDefaultQuantityInsteadOfQtd" matInput type="number"
            [(ngModel)]="data.recipeItem.quantity">
        <input *ngIf="data.showDefaultQuantityInsteadOfQtd" matInput type="number"
            [(ngModel)]="data.recipeItem.defaultQuantity">
    </mat-form-field>
    <p>Unit</p>
    <mat-form-field>
        <input matInput [(ngModel)]="data.recipeItem.unit">
    </mat-form-field>
    <p>Category</p>
    <mat-form-field>
        <input matInput [(ngModel)]="data.recipeItem.category">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Abbrechen</button>
    <button mat-button [mat-dialog-close]="data.recipeItem">Hinzufügen</button>
</div>
