.recipe-card {
    max-width: 400px;
    height: 420px;
}

.recipe-card-tile {
    height: 420px;
}

.recipe-image {
    height: 250px;
    padding: 3px;
    background-size: cover;
}

.recipe-author-image {
    background-size: cover;
}

.recipe-description {
    height: 3em;
}

.fab-button-add{
    right: 20px;
    bottom: 20px;
    position: fixed;
}

.buttons-next-to-each-other {
    float: left;
}
