<!-- Try flexbox layouts here: https://tburleson-layouts-demos.firebaseapp.com/#/docs -->
<span *ngIf="recipes == undefined || recipes.length === 0">
    <strong>Es ist noch kein Rezept vorhanden. Starte, indem du eines hinzufügst.</strong>
</span>

<div fxLayout="row wrap" fxLayoutGap="grid" fxLayoutAlign="space-evenly start" fxFlex="auto">
    <div *ngFor="let recipe of recipes" fxFlex="auto" style="padding: 10px;">
        <mat-card class="recipes-card">
            <mat-card-header>
                <!-- In a real-world application the author-image location would also be stored in the recipe metadata. -->
                <div mat-card-avatar class="recipe-author-image" *ngIf="recipe.author"
                    style="background-image: url('/assets/images/creator-of-recipe.jpg');">
                </div>
                <mat-card-title><a mat-button routerLink="/recipes/{{recipe.id}}">{{recipe.title}}</a></mat-card-title>
                <mat-card-subtitle *ngIf="recipe.author">von {{ recipe.author }}</mat-card-subtitle>
            </mat-card-header>

            <a routerLink="/recipes/{{recipe.id}}">
                <img *ngIf="recipe.image" mat-card-image src="{{ recipe.image }}"
                    alt="Photo of recipe {{ recipe.title }}">
            </a>

            <mat-card-content *ngIf="recipe.description">
                <p>
                    {{ (recipe.description.length>80)? (recipe.description | slice:0:80)+'...':(recipe.description) }}
                </p>
            </mat-card-content>

            <mat-card-actions>
                <!-- <button mat-button>Edit</button>
                <button mat-button>Delete</button> -->
                <a mat-button routerLink="/recipes/edit/{{recipe.id}}">
                    <mat-icon>edit</mat-icon> Bearbeiten
                </a>
                <button mat-button color="error" (click)="deleteRecipe($event, recipe)">
                    <mat-icon>delete</mat-icon> Löschen
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<button class="fab-button-add" mat-fab routerLink="/recipes/edit/new" color="primary">
    <mat-icon>add</mat-icon>
</button>
