<!-- <ul class="recipes-list">
    <li *ngFor="let recipe of recipes">
        <a mat-button routerLink="/recipes/{{recipe.id}}">{{recipe.title}}</a> {{ recipe | json }}
    </li>
</ul> -->
<!-- Try flexbox layouts here: https://tburleson-layouts-demos.firebaseapp.com/#/docs -->
<div fxLayout="row wrap" fxLayoutGap="20px grid" style="padding: 20px; padding: 20px;"
    fxLayoutAlign="space-evenly start" fxFlex="auto">
    <div *ngFor="let recipe of recipes" fxFlex="auto">
        <mat-card class="recipes-card">
            <mat-card-header>
                <!-- TODO: Swap this author image with a local one. -->
                <div mat-card-avatar class="recipe-author-image"
                    style="background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');">
                </div>
                <mat-card-title><a mat-button routerLink="/recipes/{{recipe.id}}">{{recipe.title}}</a></mat-card-title>
                <mat-card-subtitle *ngIf="recipe.author">by {{ recipe.author }}</mat-card-subtitle>
            </mat-card-header>

            <img *ngIf="recipe.image" mat-card-image src="{{ recipe.image }}" alt="Photo of recipe {{ recipe.title }}">

            <mat-card-content *ngIf="recipe.description">
                <p>
                    {{ recipe.description }}
                </p>
            </mat-card-content>

            <mat-card-actions>
                <!-- <button mat-button>Edit</button>
                <button mat-button>Delete</button> -->
                <a mat-button routerLink="/recipes/edit/{{recipe.id}}">Edit</a>
                <button mat-button (click)="deleteRecipe($event, recipe)">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
