.recipes-card {
  max-width: 400px;
  /* min-width: 300px; */
  /* padding: 30px; */
}

.basic-container {
  padding: 30px;
}

.recipe-author-image {
  background-size: cover;
}

.fab-button-add{
  right: 20px;
  bottom: 20px;
  position: fixed;
}
