<div style="padding: 1em;">
    <button mat-button color="primary" (click)="editRecipe()" style="float:right;">
        <mat-icon>edit</mat-icon> Rezept bearbeiten
    </button>
    <h2>{{recipe.title}}</h2><small *ngIf="recipe.author">von {{ recipe.author }}</small>
    <div fxLayout.sm="row" fxLayout.xs="row wrap" fxLayoutAlign="start start">
        <div fxFlex="auto">
            <img *ngIf="recipe.image" mat-card-image src="{{ recipe.image }}" alt="Photo of recipe {{ recipe.title }}"
                style="max-width: 500px;">
            <div *ngIf="dataSource.value == undefined || dataSource?.value?.length > 0">
                <span>
                    <strong>Zutaten:</strong>
                </span>
                <button mat-button color="primary" (click)="addIngredientsToShoppingCart(recipe)">
                    <mat-icon>add</mat-icon> Alle Zutaten der Einkaufsliste hinzufügen
                </button>
                <shopping-grouped-table [dataSource]='dataSource' [displayedColumns]='displayedColumns'>
                </shopping-grouped-table>
            </div>
        </div>

        <!-- TODO: On md add paddng to left side-->
        <!-- TODO: Fix this layout. / Try original Material Layout again? -->
        <div fxFlex.xs="auto" fxFlex.md="" style="padding-left: 1em;">
            <p>
                {{ recipe.description }}
            </p>
        </div>
    </div>
</div>
