<h2>{{recipe.title}}</h2><small>by {{ recipe.author }}</small>

<div fxLayout.sm="row" fxLayout.xs="row wrap" fxLayoutAlign="start start">
    <div fxFlex="auto">
        <img *ngIf="recipe.image" mat-card-image src="{{ recipe.image }}" alt="Photo of recipe {{ recipe.title }}"
            style="max-width: 500px;">
        <shopping-grouped-table [dataSource]='dataSource' [displayedColumns]='displayedColumns'>
        </shopping-grouped-table>
    </div>

    <div fxFlex="auto">
        <p>{{ recipe.description }}</p>
    </div>
</div>
